
@mixin div-basics {
    border: 3px solid darkorchid;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

@mixin div-font-size($div-width) {
    @if $div-width < 51% {
        font-size: 10px;
    } @else {
        font-size: 30px;
    }
}