$background-color: #accceb;
$primary-bg-color: rgb(241, 230, 179);

@import '_mixins';

* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

body {
    background: $background-color;
}

.primary-div {
    @include div-basics;
    background: $primary-bg-color;

    p {
        font-family: 'Courier New';
    }
}

.secondary-div {
    @include div-basics;
    $div-horizontal-span: 52%;
    width: $div-horizontal-span;
    @include div-font-size($div-horizontal-span);
}

.secondary-div-with-enhanced-supercool-background {
    @extend .secondary-div;
    background: red;
}

.div-with-random-background {
    @include div-basics;
    background: rgb(round((random() * 255)), round((random() * 255)), round((random() * 255)));
}

@for $num from 1 through 5 {
    .headline-#{$num} {
        font-size: #{15 + 11* $num}px;
    }
}