* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

body {
  background: #accceb;
}

.primary-div {
  border: 3px solid darkorchid;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  background: #f1e6b3;
}

.primary-div p {
  font-family: 'Courier New';
}

.secondary-div, .secondary-div-with-enhanced-supercool-background {
  border: 3px solid darkorchid;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  width: 52%;
  font-size: 30px;
}

.secondary-div-with-enhanced-supercool-background {
  background: red;
}

.div-with-random-background {
  border: 3px solid darkorchid;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  background: #957f4c;
}

.headline-1 {
  font-size: 26px;
}

.headline-2 {
  font-size: 37px;
}

.headline-3 {
  font-size: 48px;
}

.headline-4 {
  font-size: 59px;
}

.headline-5 {
  font-size: 70px;
}
/*# sourceMappingURL=styles.css.map */