
.div-basics {
    border: 3px solid darkorchid;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

.div-font-size(@div-width) {
    & when(@div-width < 51%) {
        font-size: 10px;
    }
    & when(@div-width >= 51%) {
        font-size: 30px;
    }
}