@background-color: #accceb;
@primary-bg-color: rgb(241, 230, 179);

@import "mixins.less";

* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

body {
    background: @background-color;
}

.primary-div {
    .div-basics();
    background: @primary-bg-color;

    p {
        font-family: 'Courier New';
    }
}

.secondary-div {
    .div-basics();
    @div-horizontal-span: 52%;
    width: @div-horizontal-span;
    .div-font-size(@div-horizontal-span);
}

.secondary-div-with-enhanced-supercool-background {
    .secondary-div();
    background: red;
}

.div-with-random-background {
    .div-basics;
    @r-val: `Math.random()`;
    @g-val: `Math.random()`;
    @b-val: `Math.random()`;
    background: rgb(round(@r-val * 255), round(@g-val * 255), round(@b-val * 255));
}