.div-basics {
  border: 3px solid darkorchid;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}
* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}
body {
  background: #accceb;
}
.primary-div {
  border: 3px solid darkorchid;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  background: #f1e6b3;
}
.primary-div p {
  font-family: 'Courier New';
}
.secondary-div {
  border: 3px solid darkorchid;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  width: 52%;
  font-size: 30px;
}
.secondary-div-with-enhanced-supercool-background {
  border: 3px solid darkorchid;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  width: 52%;
  font-size: 30px;
  background: red;
}
.div-with-random-background {
  border: 3px solid darkorchid;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  background: #1d4bd3;
}
