* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
    background-color: azure;
}

#content {
    display: grid;
    padding: 15px;
    padding-bottom: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: 70% 15% 15%; */
    /* grid-template-rows: 1fr 5fr; */
    /* grid-template-rows: repeat(4, minmax(200px, auto)); */
    grid-template-rows: 20% 20% 55% minmax(5%, 200px);
    /* grid-auto-rows: minmax(60px, auto); */
    /* grid-auto-columns: minmax(60px, 120px); */
    grid-gap: 15px;
}

#footer {
    background-color: darkslategrey;
    color: #fff;
    height: 100px;
    margin-top: -100px;
    text-align: center;
}

#content div {
    background: plum;
}

#content div:nth-child(odd) {
    background: salmon;
}

#cell1 {
    border: 5px solid greenyellow;
    border-radius: 5px;
    padding: 15px;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1 / 3
}

#cell5 {
    border: 3px solid blue;
    grid-column: 3 / 4;
    grid-row: 1 / 4
}
